[Desktop Entry]
Name=PAVEA
Comment=Puffles Automatic Video Editor App
Exec=/usr/bin/pavea
Icon=/usr/share/pixmaps/pavea.png
Terminal=false
Type=Application
Categories=AudioVideo
Name[en_US]=Pavea
